<!DOCTYPE html>
<html>
<head>
  <% if content_for? :title -%>
      <title><%= Boxroom.configuration.site_name %> | <%= content_for :title %></title>
  <% else -%>
      <title><%= Boxroom.configuration.site_name %></title>
  <% end -%>
  <%= stylesheet_link_tag 'boxroom/application' %>
  <%= javascript_include_tag 'boxroom/application' %>
  <%= csrf_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'boxroom/shared/header' %>

<% if flash[:notice] -%>
    <div class="notification is-success" id="notice">
      <%= flash[:notice] %>
    </div>
<% end -%>
<% if flash[:alert] -%>
    <div class="notification is-danger" id="notice">
      <%= flash[:alert] %>
    </div>
<% end -%>

<section class="section">
  <div class="container">
    <%= yield %>
  </div>
</section>

<%= render 'boxroom/shared/footer' if Boxroom.configuration.show_footer %>
</body>
</html>
