<% content_for :title, t(:sign_up) -%>

<h1 class="title"><%= content_for :title %></h1>
<%= form_for @user, :url => {:action => 'update'} do |f| %>
    <% if f.error_messages.size > 0 %>
        <div class="notification is-danger">
          <%= f.error_messages %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name, class: 'label' %>
      <div class="control">
        <%= f.text_field :name, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <div class="control">
        <%= f.text_field :email, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :password, class: 'label' %>
      <div class="control">
        <%= f.password_field :password, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= label_tag t(:confirm_password), nil, class: 'label' %>
      <div class="control">
        <%= f.password_field :password_confirmation, class: 'input' %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= f.submit t(:sign_up), class: 'button is-link' %>
      </div>
      <div class="control">
        <%= link_to t(:back), new_session_path, class: 'button is-text back_link' %>
      </div>
    </div>
<% end %>
