<% if f.error_messages.size > 0 %>
    <div class="notification is-danger">
      <%= f.error_messages %>
    </div>
<% end %>
<div class="field">
  <%= f.label :name, class: 'label' %>
  <div class="control">
    <%= f.text_field :name, class: 'input' %>
  </div>
  <% if Boxroom.configuration.enable_notifications %>
      <section class="section">
        <h2 class="subtitle"> <%= t :edit_notifications %> </h2>
        <%= f.label :notify_emails, class: 'label' %>
        <div class="control">
          <%= f.text_field :notify_emails, placeholder: t(:notify_emails_list), class: 'input' %>
        </div>

        <div class="control">
          <label class="checkbox">
            <%= f.check_box :notify_create %>
            <%= t :notify_create %>
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= f.check_box :notify_update %>
            <%= t :notify_update %>
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= f.check_box :notify_remove %>
            <%= t :notify_remove %>
          </label>
        </div>
      </section>
  <% end %>
</div>
<div class="field is-grouped">
  <div class="control">
    <%= f.submit t(:save), class: 'button is-link' %>
  </div>
  <div class="control">
    <%= link_to t(:back), @folder.parent, class: 'button is-text' %>
  </div>
</div>
