<% content_for :title, @folder.name -%>

<h1 class="title"><%= content_for :title %></h1>
<% unless @folder.is_root? -%>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <%= breadcrumbs(@folder) %>
        <li class="is-active"><a href="#" aria-current="page"><%= @folder.name %></a></li>
      </ul>
    </nav>
<% end -%>

<div class="tabs">
  <ul>
    <% if current_user.can_create(@folder) -%>
        <li>
          <a href="<%= new_folder_folder_path(@folder) %>">
            <span class="icon is-small"><i class="fa fa-folder"></i></span>
            <span><%= t(:create_a_new_folder) %></span>
          </a>
        </li>
        <li>
          <a href="<%= new_folder_file_path(@folder) %>">
            <span class="icon is-small"><i class="fa fa-upload"></i></span>
            <span><%= t(:upload_a_file) %></span>
          </a>
        </li>
    <% end -%>
    <% if current_user.member_of_admins? -%>
        <li>
          <a href="#" id="permissions_link" class="permissions_link">
            <span class="icon is-small"><i class="fa fa-lock"></i></span>
            <span><%= t(:permissions) %></span>
          </a>
        </li>
    <% end -%>
    <li>
      <a href="#" id="clipboard_link" class="clipboard_link">
        <span class="icon is-small"><i class="fa fa-clipboard"></i></span>
        <span><%= t(:clipboard) %></span>
      </a>
    </li>
  </ul>
</div>

<% if Boxroom.configuration.show_search %>
    <%= form_tag(search_path, method: :get) do %>
        <div class="field">
          <div class="control">
            <%= text_field_tag 'term', nil, placeholder: t(:search), size: 71, class: 'input' %>
          </div>
        </div>
        <%= hidden_field_tag 'folder_id', @folder.id %>
    <% end %>
<% end %>

<div id="files_and_folders">
  <%= concept(Boxroom::Folder::Cell::Show, @folder,
              folders: @folder.children,
              files: @folder.user_files,
              current_user: current_user) %>
</div>

<% if current_user.member_of_admins? -%>
    <div id="permissions" style="display:none;">
      <%= render 'boxroom/permissions/form' %>
    </div>
<% end -%>
<div id="clipboard" style="display:none;">
  <%= render 'boxroom/clipboard/show' %>
</div>
