<% content_for :title, t(:sign_in) -%>

<h1 class="title"><%= content_for :title %></h1>
<%= form_tag(sessions_path) do %>
    <div class="field">
      <%= label_tag :username, t(:username), class: 'label' %>
      <div class="control">
        <%= text_field_tag :username, nil, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= label_tag :password, t(:password), class: 'label' %>
      <div class="control">
        <%= password_field_tag :password, nil, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :remember_me, 'true' %>
        <%= t(:remember_me) %>
      </label>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= submit_tag t(:sign_in), class: 'button is-link' %>
      </div>
      <div class="control">
        <%= link_to t(:reset_password), new_reset_password_path, class: 'button is-text' %>
      </div>
    </div>
<% end %>
