<table class="table">
  <thead>
  <tr>
    <th></th>
    <th><%= t :name %> <%= sort_link 'name' %> </th>
    <th><%= t :size %> <%= sort_link 'size' %> </th>
    <th><%= t :date_modified %> <%= sort_link 'date' %> </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if folder.present? && !folder.is_root? -%>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><span class="icon is-small"><i class="fa fa-folder-o"></i></span></td>
        <td class="file_name">&uarr; <%= link_to t(:up), folder.parent, title: folder.parent.name %></td>
        <td class="file_size">--</td>
        <td class="file_modified">--</td>
        <td></td>
      </tr>
  <% end -%>
  <% folders.each do |folder| -%>
      <% if current_user.can_read(folder) -%>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><span class="icon is-small"><i class="fa fa-folder-o"></i></span></td>
            <td class="file_name"><%= link_to folder.name, folder %></td>
            <td class="file_size">--</td>
            <td class="file_modified"><%= l folder.updated_at, :format => :short %></td>
            <td>
              <% if current_user.can_update(folder) -%>
                  <%= link_to '<span class="icon is-small"><i class="fa fa-edit"></i></span>', edit_folder_path(folder), title: t(:edit) %>&nbsp;
              <% end -%>
              <% if current_user.can_delete(folder) -%>
                  <%= link_to '<span class="icon is-small"><i class="fa fa-remove"></i></span>', folder, method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete_item) %>&nbsp;
              <% end -%>
              <%= link_to '<span class="icon is-small"><i class="fa fa-clipboard"></i></span>',
                          {controller: :clipboard, action: :create, id: folder.id, type: 'folder', folder_id: @folder, authenticity_token: form_authenticity_token},
                          method: :post, title: t(:add_to_clipboard)
              %>
            </td>
          </tr>
      <% end -%>
  <% end -%>
  <% files.each do |file| -%>
      <% if current_user.can_read(file.folder) -%>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= image_tag(file_icon(file.extension)) %></td>
            <td class="file_name"><%= link_to file.attachment_file_name, file_path(file), :title => "#{t(:download)} #{file.attachment_file_name}" %></td>
            <td class="file_size"><%= number_to_human_size(file.attachment_file_size, :locale => I18n.locale) %></td>
            <td class="file_modified"><%= l file.updated_at, :format => :short %></td>
            <td>
              <% if current_user.can_update(file.folder) -%>
                  <%= link_to '<span class="icon is-small"><i class="fa fa-edit"></i></span>', edit_file_path(file), title: t(:edit) %>&nbsp;
              <% end -%>
              <% if current_user.can_delete(file.folder) -%>
                  <%= link_to '<span class="icon is-small"><i class="fa fa-remove"></i></span>', file_path(file), method: :delete, data: {confirm: t(:are_you_sure)}, title: t(:delete_item) %>&nbsp;
              <% end -%>
              <%= link_to '<span class="icon is-small"><i class="fa fa-clipboard"></i></span>',
                          {controller: :clipboard, action: :create, id: file.id, type: 'file', folder_id: file.folder, authenticity_token: form_authenticity_token},
                          method: :post, title: t(:add_to_clipboard)
              %>
              <% if Boxroom.configuration.show_shared_files %>
                  <%= link_to '<span class="icon is-small"><i class="fa fa-share"></i></span>', new_file_share_link_path(file), title: t(:share) %>
              <% end %>
            </td>
          </tr>
      <% end -%>
  <% end -%>
  </tbody>
</table>
