<% content_for :title, t(:create_admin) -%>

<h1 class="title"><%= content_for :title %></h1>
<div class="notification is-warning">
  <%= t :no_administrator_yet %>
</div>
<%= form_for @user, url: {action: 'create'} do |f| %>
    <% if f.error_messages.size > 0 %>
        <div class="notification is-danger">
          <%= f.error_messages %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name, t(:username), class: 'label' %>
      <div class="control">
        <%= f.text_field :name, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <div class="control">
        <%= f.text_field :email, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= label_tag :password, class: 'label' %>
      <div class="control">
        <%= f.password_field :password, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <%= label_tag :confirm_password, nil, class: 'label' %>
      <div class="control">
        <%= f.password_field :password_confirmation, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.submit t(:create_admin_account), class: 'button is-link' %>
      </div>
    </div>
<% end %>
