<%= form_for @user do |f| %>
    <% if f.error_messages.size > 0 %>
        <div class="notification is-danger">
          <%= f.error_messages %>
        </div>
    <% end %>
    <% unless @user.new_record? -%>
        <div class="field">
          <%= f.label :name, class: 'label' %>
          <div class="control">
            <%= f.text_field :name, class: 'input' %>
          </div>
        </div>
    <% end -%>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <div class="control">
        <%= f.text_field :email, class: 'input' %>
      </div>
    </div>
    <% unless @user.new_record? -%>
        <div class="field">
          <%= f.label :password, class: 'label' %>
          <div class="control">
            <%= f.password_field :password, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= label_tag t(:confirm_password), nil, class: 'label' %>
          <div class="control">
            <%= f.password_field :password_confirmation, class: 'input' %>
          </div>
        </div>
    <% end -%>
    <% if signed_in? && current_user.member_of_admins? -%>
        <div class="field">
          <%= label_tag t(:member_of_these_groups), nil, class: 'label' %>
          <div class="control">
            <span class="user_groups">
            <% if @user.is_admin -%>
              <span class="disabled">
                <%= hidden_field_tag 'user[group_ids][]', Boxroom::Group.admins_group.id %>
                <input type="checkbox" checked="checked" disabled="disabled"/><label>Admins</label>
              </span>
                        <%= f.collection_check_boxes :group_ids, Boxroom::Group.all_except_admins, :id, :name %>
            <% else -%>
              <%= f.collection_check_boxes :group_ids, Boxroom::Group.all, :id, :name %>
            <% end -%>
            </span>
          </div>
        </div>
    <% end -%>
    <div class="field is-grouped">
      <div class="control">
        <%= f.submit t(:save), class: 'button is-link' %>
      </div>
      <% if @user != current_user -%>
          <div class="control">
            <%= link_to t(:back), users_url, class: 'button is-text' %>
          </div>
      <% end -%>
    </div>
<% end %>
