<% content_for :title, t(:users) -%>

<h1 class="title"><%= content_for :title %></h1>

<a class="button is-primary" href="<%= new_user_path %>">
    <span class="icon">
      <i class="fa fa-user-plus"></i>
    </span>
  <span><%= t(:create_a_new_user) %></span>
</a>

<h2 class="subtitle"><%= t :active_users %></h2>
<table class="table">
  <tr>
    <th></th>
    <th><%= t :name %></th>
    <th><%= t :email %></th>
    <th></th>
  </tr>
<% @users.each do |user| -%>
  <tr class="<%= cycle('even','odd') %>">
    <td>
      <span class="icon">
      <i class="fa fa-user-o"></i>
    </span>
    </td>
    <td class="user_name"><%= user.name %></td>
    <td class="user_email"><%= user.email %></td>
    <td>
      <%= link_to '<span class="icon is-small"><i class="fa fa-edit"></i></span>'.html_safe, edit_user_path(user), :title => t(:edit) %>&nbsp;
    <% unless user.is_admin -%>
      <%= link_to '<span class="icon is-small"><i class="fa fa-remove"></i></span>'.html_safe, user_path(user), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>
    <% end -%>
    </td>
  </tr>
<% end -%>
</table>

<% unless @new_users.blank? -%>
<h2 class="subtitle"><%= t :invited_users %></h2>
<table class="table">
  <tr>
    <th></th>
    <th><%= t :email %></th>
    <th><%= t :expiration_date %></th>
    <th></th>
  </tr>
<% @new_users.each do |user| -%>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= image_tag('boxroom/user.png') %></td>
    <td class="user_email"><%= user.email %></td>
    <td class="user_expiration">
    <% if user.signup_token_expires_at > Time.now -%>
      <%= l user.signup_token_expires_at, :format => :very_short %>
    <% else -%>
      <span class="red"><%= l user.signup_token_expires_at, :format => :very_short %></span>
    <% end -%>
    </td>
    <td>
      <%= link_to '<span class="icon is-small"><i class="fa fa-clock-o"></i></span>'.html_safe, extend_user_path(user), :method => :put, :title => t(:extend_expiration_date) %>&nbsp;
    <% unless user.is_admin -%>
      <%= link_to '<span class="icon is-small"><i class="fa fa-remove"></i></span>'.html_safe, user_path(user), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>
    <% end -%>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
